<!DOCTYPE html>
<html>
  <head>
    <title>DaijoubuButton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="light dark"><!-- ダーク/ライトの配色ヒント -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- 全体のベース色を固定（ダークでも見える） -->
  <body class="antialiased bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <%= yield %>
  </body>
</html>
